<h2>Edit Case</h2>
<br/>
<div class="case">
<form action="/caseses/edit" method="post">
  <label for="post_id">ID:</label>
  <input id="post_id" name="post[id]" type="text" value="<%= @case.id %>" readonly size="5"/>
  <label for="post_title">Tags:</label><br>
  <input id="post_title" name="post[tags]" type="text" value="<%= @case.tags %>" size="77"/><br>
  <label for="post_comment">Beschreibung:</label><br>
  <textarea id="post_comment" name="post[comment]" rows="10"><%= @case.comment %></textarea>
  <br/>
  <br/>
  <label for="post_input">Input-Variablen:</label><br>
  <input id="post_input" name="post[input]" type="text" value="<%= @case.input %>"/>
  <br/>
  <label for="post_body">Code:</label><br>
  <textarea id="post_body" name="post[code]" rows="10"><%= @case.code %></textarea>
  <br />
  <input type="submit" value="Update"/>
</form> 
</div>