<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/Style.css" rel="stylesheet">
<link rel="shortcut icon" href="/IceLogo.ico" />
	<script src="/treeview.js" type="text/javascript"></script>
	<script src="/search.js" type="text/javascript"></script>
	<script src="/src/ace.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div class="navigation">
		<a class="MItem" href="/"><img src="/IceLogo.png"></img></a>
		<a class="MItem" href="/">Home</a>
		<a class="MItem" href="/cases/create">New Case</a>
		<a class="MItem" href="/groups/create">New Group</a>
		<input type="text" id="suche" placeholder = "Suche" OnKeyUp="SearchCases()" onblur="ClearSearch()" style="float:right; width:25%; z-index:20;"/>
		<div id="tagHolder" style="float:right; width:25%" data-tags="<%= @tags %>">
		</div>
    </div>
    <div class="container">
      <% if flash[:notice] %>
        <p class="alert alert-success"><%= flash[:notice] %>
      <% end %>
      <% if flash[:error] %>
        <p class="alert alert-error"><%= flash[:error] %>
      <% end %> 
      <%= yield %>
    </div>
  </body>
  <script>
  	CreateTagsDom(document.getElementById("tagHolder").dataset.tags);
  </script>
</html>