<div class="" style="float:left; width:65%; padding:5px;">
<h2>Create Group</h2>
<br/>
<form id="groupForm" action="/groups" method="post">
	<table border="0">
		<tr>
			<td><label for="post_name">Name:</label></td>
	  		<td><input id="post_name" name="post[name]" type="text" value="" size="77"/></td>
	  	</tr>
	  	<tr>
	  		<td><label for="post_tags">Tags:</label></td>
	 		<td><input id="post_tags" name="post[tags]" type="text" value="default" size="77"/></td>
	 	</tr>
	 	<tr>
	  		<td></td><td><input id="post_elements" name="post[elements]" type="text" value=""></td>
	  	</tr>
	</table>
</form> 
	<label for="post_body">Content:</label>
	<div id="deleter" ondrop="deleteDrop(event)" ondragover="allowDrop(event)" style="background:red; height:20px; float:right; padding:3px;">drop to delete</div><br>
	<div id="holder">
		<div id="dropZone" class="dropZone" ondrop="drop(event)" ondragover="allowDrop(event)" style="display:none;">drop here</div>
	</div>
	<br />
	<input type="submit" value="Create!" onclick="SubmitForm()"/>
</div>
<div style="float:right; width:30%; height:800px; padding-left:5px; overflow:scroll;">
	<div>
		<img id="img_groupToggle" src="/Icons/Hide.png" onclick="ToggleGroups()" style="width:12px; height:12px; margin-right:4px;"/><h2 style="display:inline">Groups</h2>
		<div id="group_list">
			<a class="button" style="float:right;" onclick="HideAll()">Collapse all</a>
			<a class="button" style="float:right;" onclick="ShowAll()">Expand all</a><br>
			<div id="groups_tree">
				<% @groups.each do |g| %>
					<%= g.to_tree(@elements) %>
				<% end %>
			</div>
		</div>
	</div><br>
	
	<div>
	<img id="img_caseToggle" src="/Icons/Hide.png" onclick="ToggleCases()" style="width:12px; height:12px; margin-right:4px;"/><h2 style="display:inline">Cases</h2>
		<div id="case_list">
			<div class='caseHead' style="margin-bottom: 4px;" data-active='false' data-id="NEW" id="newCase" draggable="true" OnMouseDown="StartMove(event)" ondragstart="drag(event)">New Case</div>
			<% @cases.each do |c| %>
			  <div class='caseHead' style="margin-bottom: 4px;" data-active='false' data-searchId='<%= "#{c.tags}" %>' data-id='<%="C#{c.id}" %>' data-toolid='<%= c.id %>' data-code='<%= c.code %>' data-desc='<%= c.comment %>' id='<%= "#{$id_control}" %>' draggable="true" OnMouseOver="ShowTooltip(event)" OnMouseOut="HideTooltip()" OnMouseDown="StartMove(event)" ondragstart="drag(event)">
				<% $id_control += 1 %>
				<%= "#{c.name}" %>
			  </div>
			<% end %>
		</div>
	</div>
</div>

<div id="tooltip" class="tooltip" style="display:none; width:100%;" onmouseenter="HideTooltip()">
	<textarea id="tooltip-desc" style="width:98%;"></textarea>
	<div id="tooltip-code" style="position:relative; width:98%; height:300px;"></div>
</div>

<script src="/src/ace.js" type="text/javascript" charset="utf-8"></script>
<!-- Generelle Einrichtung und Tooltip verwaltung -->
<script>
	GetDivs();
	HideAll();
	var lastItem = 0;
	var objects = [];
	
	function ShowTooltip(event){
		var tooltip = document.getElementById("tooltip");
		tooltip.style.display = "inline";
		event.target.appendChild(tooltip);
		
		if(event.target.dataset.desc != ""){
			document.getElementById("tooltip-desc").style.display = "inline";
			document.getElementById("tooltip-desc").value = event.target.dataset.desc;		
		}else{
			document.getElementById("tooltip-desc").style.display = "none";
		}
		var editor = ace.edit("tooltip-code");
		editor.setTheme("ace/theme/chrome");
		editor.getSession().setMode("ace/mode/ruby");
		editor.setValue(event.target.dataset.code);
		editor.setReadOnly(true);
		var h = 400 - document.getElementById("tooltip-desc").style.height;
		if(h > 100){
			document.getElementById("tooltip-code").style.height = h;
		}else{
			document.getElementById("tooltip-code").style.height = 100;	
		}
		editor.clearSelection();
		editor.setHighlightActiveLine(false);
		editor.resize();
	}
	
	function HideTooltip(){
		document.getElementById("tooltip").style.display = "none";
	}
	
	function ToggleGroups(){
		if(document.getElementById("group_list").style.display != "none"){
			document.getElementById("group_list").style.display = "none";
			document.getElementById("img_groupToggle").src = "/Icons/Show.png";
		}else{
			document.getElementById("group_list").style.display = "inline";
			document.getElementById("img_groupToggle").src = "/Icons/Hide.png";
		}
	}
	function ToggleCases(){
		if(document.getElementById("case_list").style.display != "none"){
			document.getElementById("case_list").style.display = "none";
			document.getElementById("img_caseToggle").src = "/Icons/Show.png";
		}else{
			document.getElementById("case_list").style.display = "inline";
			document.getElementById("img_caseToggle").src = "/Icons/Hide.png";
		}
	}
</script>
<!-- Hinzufügen und Reihenfolgen verwaltung -->
<script>
	var movingDiv;
	
	function Update(){
		var max = 0;
		var childs = document.getElementById("holder").children;
		var items = [];
		for(i = 0; i < childs.length; i++){
			if(childs[i].className != "dropZone"){
				items.push(childs[i]);
			}
		}
		childs = items;
		document.getElementById("post_elements").value = "";
		document.getElementById("post_elements").value = childs[0].dataset.id;
		if(childs[0].dataset.level > max){
			max = childs[0].dataset.level
		}
		for(i = 1; i < childs.length; i++){
			document.getElementById("post_elements").value += "," + childs[i].dataset.id;
			if(childs[i].dataset.level > max){
				max = childs[i].dataset.level
			}
		}
		
		document.getElementById("post_level").value = parseInt(max) +1;
	}
	
	document.onmouseup=function(){StopMove()};
	
	function StartMove(event){
		movingDiv = event.target;
		HideTooltip();
	}
	
	function StopMove(){
		var divs = document.getElementsByTagName("div");
		for(var i = 0; i < divs.length; i++){
			if(divs[i].className == "dropZone"){
				divs[i].style.display = "none";
			}
		}
	}
	
	function allowDrop(ev){
		ev.preventDefault();
	}

	function drag(ev){
		ev.dataTransfer.setData("Text",ev.target.id);
		var divs = document.getElementsByTagName("div");
		for(var i = 0; i < divs.length; i++){
			if(divs[i].className == "dropZone"){
				divs[i].style.display = "block";
			}
		}
	}

	function drop(ev){
		ev.preventDefault();
		StopMove();
		var data=ev.dataTransfer.getData("Text");
		if(data != "newCase"){
			if(data.substr(0,1) != "I"){
				var dropZoneClone = document.getElementById("dropZone").cloneNode(true);
				dropZoneClone.id = "DZ" + data;
				document.getElementById("holder").insertBefore(dropZoneClone, ev.target);
				var clone = document.getElementById(data).cloneNode(true);
				clone.id = "I" + clone.id;
				document.getElementById("holder").insertBefore(clone, ev.target);
			}else{
				document.getElementById("holder").insertBefore(document.getElementById("DZ" + data.substr(1,data.length)), ev.target);
				document.getElementById("holder").insertBefore(document.getElementById(data), ev.target);
			}
			Update();
		}else{
			var dropZoneClone = document.getElementById("dropZone").cloneNode(true);
			dropZoneClone.id = "DZ" + data;
			document.getElementById("holder").insertBefore(dropZoneClone, ev.target);
			var clone = document.getElementById(data).cloneNode(true);
			clone.id = "I" + clone.id;
			document.getElementById("holder").insertBefore(clone, ev.target);
			window.open("/cases/create/direct","Create Case", "width=600,height=400,status=yes,scrollbars=yes,resizable=yes");
		}
	}
	
	function deleteDrop(ev){
		ev.preventDefault();
		StopMove();
		var data=ev.dataTransfer.getData("Text");
		if(data.substr(0,1) == "I"){
			document.getElementById("holder").removeChild(document.getElementById(data));
			document.getElementById("holder").removeChild(document.getElementById("DZ" + data.substr(1,data.length)));
		}
		Update();
	}
	
	function SubmitForm(){
		document.forms[0].submit();
	}
	
	function AddNewCase(id){
		console.debug("Neuer Case mit ID: " + id);
		//var htmlString = "<div>Hallo Welt</div>";
		//var parser = new DOMParser();
		//htmlString = parser.parseFromString(htmlString, "text/xml");
		//document.getElementById("holder").insertBefore(htmlString, document.getElementById("InewCase"));
		document.getElementById("InewCase").dataset.id = "C" + id;
		Update();
	}
</script>