<div class="" style="float:left; width:98%; padding:5px;">
<h2>Create Group</h2>
<br/>
<form id="groupForm" action="/groups" method="post">
  <label for="post_title">Tags:</label>
  <input id="post_title" name="post[tags]" type="text" value="default" size="77"/>
  <input id="post_elements" name="post[elements]" type="text" value="">
  <input id="post_level" name="post[level]" type="text" value="1">

</form> 
  <label for="post_body">Inhalt:</label><br>
  <div id="holder">
  
  </div>
  <br />
  <input type="submit" value="Create!" onclick="SubmitForm()"/>
</div>
<div style="float:right; width:20%">
	<div>
		<img id="img_groupToggle" src="/Icons/Hide.png" onclick="ToggleGroups()" style="width:12px; height:12px; margin-right:4px;"/><h2 style="display:inline">Groups</h2>
		<div id="group_list">
			<a class="button" style="float:right;" onclick="HideAll()">Collapse all</a>
			<a class="button" style="float:right;" onclick="ShowAll()">Expand all</a><br>
			<div id="groups_tree">
				<%= @tree %>
			</div>
		</div>
	</div><br>
	
	<div>
	<img id="img_caseToggle" src="/Icons/Hide.png" onclick="ToggleCases()" style="width:12px; height:12px; margin-right:4px;"/><h2 style="display:inline">Cases</h2>
		<div id="case_list">
			<% @cases.each do |c| %>
			  <div class='case' data-active='false' data-addid='<%="C#{c.id}" %>' data-toolid='<%= c.id %>' data-code='<%= c.code %>' data-desc='<%= c.comment %>' id='<%= "#{c.tags}" %>' OnMouseOver="ShowTooltip(event)" OnMouseOut="HideTooltip()">
				<%= "#{c.tags}" %>
				<img class='control' src='/Icons/add.png' style='margin-left:5px;' onclick='AddMe("<%= c.tags %>", false)'></img>
			  </div>
			<% end %>
		</div>
	</div>
</div>

<div id="tooltip" class="tooltip" style="display:none; position:fixed; top:200px; left:100px; width:50%; height:400px;">
	<textarea id="tooltip-desc" style="width:98%;"></textarea>
	<div id="tooltip-code" style="position:relative; width:98%; height:300px;"></div>
</div>

<script src="/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
	GetDivs();
	HideAll();
	var lastItem = 0;
	var objects = [];
	
	function ShowTooltip(event){
		var tooltip = document.getElementById("tooltip");
		tooltip.style.display = "inline";
		if(event.target.dataset.desc != ""){
			document.getElementById("tooltip-desc").style.display = "inline";
			document.getElementById("tooltip-desc").value = event.target.dataset.desc;		
		}else{
			document.getElementById("tooltip-desc").style.display = "none";
		}
		var editor = ace.edit("tooltip-code");
		editor.setTheme("ace/theme/chrome");
		editor.getSession().setMode("ace/mode/ruby");
		editor.setValue(event.target.dataset.code);
		editor.setReadOnly(true);
		var h = 400 - document.getElementById("tooltip-desc").style.height;
		if(h > 100){
			document.getElementById("tooltip-code").style.height = h;
		}else{
			document.getElementById("tooltip-code").style.height = 100;	
		}
		editor.resize();
	}
	
	function HideTooltip(){
		document.getElementById("tooltip").style.display = "none";
	}
	
	function ToggleGroups(){
		if(document.getElementById("group_list").style.display != "none"){
			document.getElementById("group_list").style.display = "none";
			document.getElementById("img_groupToggle").src = "/Icons/Show.png";
		}else{
			document.getElementById("group_list").style.display = "inline";
			document.getElementById("img_groupToggle").src = "/Icons/Hide.png";
		}
	}
	function ToggleCases(){
		if(document.getElementById("case_list").style.display != "none"){
			document.getElementById("case_list").style.display = "none";
			document.getElementById("img_caseToggle").src = "/Icons/Show.png";
		}else{
			document.getElementById("case_list").style.display = "inline";
			document.getElementById("img_caseToggle").src = "/Icons/Hide.png";
		}
	}
	
	function update(){
		var max = 0;
		var childs = document.getElementById("holder").children;
		document.getElementById("post_elements").value = "";
		document.getElementById("post_elements").value = childs[0].dataset.id;
		if(childs[0].dataset.level > max){
			max = childs[0].dataset.level
		}
		for(i = 1; i < childs.length; i++){
			document.getElementById("post_elements").value += "," + childs[i].dataset.id;
			if(childs[i].dataset.level > max){
				max = childs[i].dataset.level
			}
		}
		
		document.getElementById("post_level").value = parseInt(max) +1;
	}
	
	function AddMe(id, group){
		var target = document.getElementById(id);
		var obj = document.createElement('div');
		obj.dataset.id = target.dataset.addid;		
		
		if(group == true){
			obj.setAttribute("class", "tree_group");
			document.getElementById("post_elements").value += "," + target.dataset.addid;
		}else{
			obj.setAttribute("class", "case");
			document.getElementById("post_elements").value += "," + target.dataset.addid;	
		}
		//obj.dataset.level = target.dataset.level;
		obj.innerHTML = target.innerHTML;
		inner = obj.children;
		for(var i = 0; i < inner.length; i++){
				obj.removeChild(inner[i]);
		}
		obj.children[0].src = "/Icons/delete.png";
		obj.children[0].setAttribute("onclick", "RemoveMe(event)");
		document.getElementById("holder").appendChild(obj);
		update();
	}
	
	function RemoveMe(event){
		document.getElementById("holder").removeChild(event.target.parentNode);
		update();
	}
	
	function SubmitForm(){
		document.forms[0].submit();
	}
</script>