<div id="groups" style="float:left; width:45%">
<h2>Groups</h2>

<%= @tree %>
</div>
<div id="cases" style="float:left; width:48%">
<h2>Cases</h2>
<% @caseses.each do |c| %>
  <div class="case">
    <h4><a href="/caseses/edit/<%= c.id %>"><%= "##{c.id} #{c.tags}" %></a></h4>
	<p><code><%= c.code %></code>
    <p>Created: <%= c.created_at %></p>
  </div>
<% end %>
</div>