<div id="groups" style="float:left; width:50%">
<h2>Gruppen</h2>

<%= @tree %>
</div>
<div id="cases" style="float:left; width:50%">
<h2>Cases</h2>
<% @caseses.each do |c| %>
  <div class="case">
    <h4><a href="/caseses/edit/<%= c.id %>"><%= "##{c.id} #{c.tags}" %></a></h4>
	<p><code><%= c.code %></code>
    <p>Created: <%= c.created_at %></p>
  </div>
<% end %>
</div>

<Script>
function Toggle(id){
	var childs = document.getElementById(id).childNodes;
	for(var i = 0; i < childs.length; i++){
		console.debug(childs[i]);
		if(childs[i].style.display == "none"){
			childs[i].style.display = "block";
		}else{
			childs[i].style.display = "none";
		}
	}
}
</Script>